@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;

}

:root{
    --bcg: #201c2b;
    --dark: #403454;
    --bd: #402c5c;
    --btns: #00A8E0;
    --btns_hover: #007aa3;
    --tiles:#352F45;
}

/* menu */
nav span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 3vh 5vw;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.356);
    font-family: 'Montserrat', sans-serif;
}

nav #fit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    gap: 4rem;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

nav #fit div a:hover{
    color: var(--btns);
}

#fit a{
    text-decoration: none;
    color: aliceblue;
}

#logo h1{
    color: aliceblue;
}

#logo h1:hover{
    color: var(--btns);
    cursor: pointer;
}

/* baner */
.baner{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background: url(wp2619698.webp) no-repeat center;
    background-size: cover;
    height: 90vh;
    min-height: 30rem;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.795);
    background-blend-mode: multiply;
    min-zoom: 90%;
}

#text{
    margin-top: 10vh;
    padding: 7rem;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    animation-name:moves;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    width: 50%;
}

#text div span{
    color: aliceblue;
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#text div span p{
    font-size: 1.9rem!important;
    white-space: nowrap;
}

#text div span h1{
    font-size: 2.5rem!important;
    word-spacing: 2px!important;
}

/* przycisk na banerze */
#text a button{
    padding: 0.8rem 2rem 0.8rem 2rem;
    min-height: fit-content;
    min-width: fit-content;
    background-color:var(--btns);
    border: 0;
    border-radius: 5rem;
    font-size: 1.1rem;
    margin: 1.2rem 0 0 0;
    color: aliceblue;
}

#text a button:hover{
    background-color: var(--btns_hover);
    cursor: pointer;
}
/* info pod banerem */
#info{
    width: 100%;
}

#info div{
    display: flex;
    flex-direction: row;
    min-block-size: fit-content;
}
/* czarne klocki z info */
.tile{
    display: flex;
    flex-direction: column!important;
    background-color: var(--tiles);
    text-align: justify;
    color: aliceblue;
    min-height: fit-content;
    min-width: fit-content;
    width: 20%;
    padding: 1.5rem;
    font-size: 0.76vw;
}

.tile div a i{
    color: var(--btns);
}

.tile div a i:hover{
    color: var(--btns_hover);
}

/* pomaranczowy klocek z info */
.tile_2{
    background-color: var(--btns);
    color: aliceblue;
    font-size: 0.76vw;
    min-height: fit-content;
    min-width: fit-content;
    width: 60%;
}

.tile_2 div {
    flex-shrink: 2;
    gap: 1vw;
}

.tile div {
    display: flex;
    flex-shrink: 2;
    flex-shrink: 2;
}

.tile_2 div a i{
    color: aliceblue;
}

.tile_2 div a i:hover{
    color: rgba(240, 248, 255, 0.74);
}

.tile_2 div h3, p {
    font-family: 'Montserrat', sans-serif;

}

main{
    background-color: var(--bcg);
    width: 100%;
    text-align: center;
    color: aliceblue;
    padding: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}

main h1::after{
    content: ' ';
    display: block;
    height: 3px;
    background-color: var(--btns);
    width: 8%;
    margin: 1.5rem auto;
}

main h1 span{
    color: #00A8E0;
}

main p{
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-family: 'Montserrat', sans-serif;
}

main #cz1::after{
    content: ' ';
    display: block;
    height: 3px;
    background-color: var(--btns);
    width: 80%;
    margin: 8rem auto;
}

#prezentacja .obraz{
    background-image: url(wp2619698.webp);
    height: 40vh;
    color: white;
    object-fit:cover;
    background-repeat: no-repeat;
    background-size: cover;
}

#prezentacja{
    margin-bottom:5rem;
    overflow: hidden;
    min-width: fit-content;
}

.obraz{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 20rem;
    gap: 10px;
    box-sizing:border-box;
}

.obraz a{
    font-size: 6vw;
    text-decoration: none;
    margin: auto;
    color: white;
    display: none;
}

.obraz:hover{
    background-color:rgba(0, 0, 0, 0.795);
    background-blend-mode: multiply;
    cursor: pointer;
}

.obraz:hover a{
    display: block;
}

footer{
    background-color: rgb(12, 12, 12);
    height: 10vh;
}


#sidenav{
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 12, 12);;
    position: fixed;
    right: 0;
    top: 0;
    width: 0rem;
    height: 100vh;
    gap: 10px;
    padding-top: 200px;
    z-index: 90;

}

#sidenav a{
    text-decoration: none;
    color: var(--btns);
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 2px;
}

#sidenav a.active{
    color: var(--dark);
}

#toggler{
    display: none;
    cursor: pointer;
    flex: 0 0 auto;
    z-index: 100;
}

#toggler .strap{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    display: block;
    transition: 0.4s;
    transform-origin: left center;
}

#toggler.change .strap:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}
#toggler.change .strap:nth-child(2) {
    opacity: 0;
}
#toggler.change .strap:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg) ;
}

/* KATALOG */

#katalog {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    gap: 3rem;
    background-color: var(--bcg);
}
#katalog #zamkniecie{
    display: flex;
    flex-direction:column;
    width: 100%;
    margin-right: 2rem;
}
#katalog .oferta  a {
    display: flex;
    flex-wrap: wrap;
    /* padding: 2rem; */
    width: 100%;
    margin: 1rem auto 1rem auto;
    border-radius: 5px;
    background-color: var(--bd);
    min-width: fit-content;
    justify-content:space-between;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

#katalog .oferta a img {
    display: flex;
    width: 23rem;
    height: 19rem;
    border-radius: 5px;
}

#katalog .oferta a .dane_oferta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:  0 auto 0 auto;
}

#katalog .oferta a .model{
    display: flex;
    padding: 0.6rem;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto 0 auto;
}

#katalog .oferta a .dane_oferta p {
    font-family: 'Montserrat', sans-serif;
    padding: 1vh;
}

#katalog .oferta a .dane_oferta .cena {
    font-size: 2rem;  
    font-family: 'Montserrat', sans-serif;
}

#katalog .oferta a{
    text-decoration: none;
    color: aliceblue;
}

#katalog #filtry {
    height: 100vh;
    width: 30vw;
    color: aliceblue;
    background-color: var(--bd);
    border-radius: 5px;
    display: flex;
    align-self: flex-start;
    margin: 1rem 0 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

#katalog .oferta a:hover{
    background-color: var(--tiles);
}

#filtry #Cena{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
}

#filtry #Cena input{
    height: 1.5rem;
    width: 5rem;
}

#filtry form{
    padding: 0.5rem;
}

.Wyszukiwarka{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: var(--bd);
}

#Form_szukanie{
    display: flex;
    gap: 1rem;
    border-radius: 5px;
}

#Form_szukanie input{
    border-radius: 5px;
    height: 2.5rem;
    width: 30vw;
    border: 0;
}

#Form_szukanie input:focus{
    border: 0!important;
}


#Form_szukanie #Szukanie_button{
    border: none;
    color: var(--bcg);
    background-color: var(--bd);
    font-size: 2.3rem;
    margin-top: -0.4rem;
}

#Form_szukanie #Szukanie_button:hover{
    color: aliceblue;
}

.Wyszukiwarka #Dodawanie_ogl{
    border: 3px solid var(--bcg);
    border-radius: 7px;
    background-color: var(--bd);
    padding: 0.5rem 1rem ;
}

.Wyszukiwarka #Dodawanie_ogl a{
    text-decoration: none;
    color: var(--bcg);
    font-weight: bold;
}

.Wyszukiwarka #Dodawanie_ogl:hover, .Wyszukiwarka #Dodawanie_ogl:hover a{
    background-color: var(--bcg);
    color: var(--btns);
}





/* animacja z baner */
@keyframes moves{
    0%   {left:-12rem;}
    100% {left:4rem;}
}

@media screen and (max-width: 900px){
    #info div .tile h3{
        display: none!important;
    }
    #info div .tile{
        width: 33.3333333%!important;
        text-align: center;
    }

    #info div .tile p{
       display: none;
    }

    #info div .tile_2{
        display: none!important;
    }
}

/* OGLOSZENIE */


#Zdjecia_main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5rem; */
    width: 100%;
    height: 50vh;
}
#carouselExampleDark{
    height: fit-content;
    margin-top: 7rem;
}
#carouselExampleDark .carousel-inner .carousel-item img{
    height: 50vh;
    width: 40vw;
}

#car_info{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    padding: 2rem;
}

#Specyfikacja, #Specyfikacja_2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 9rem;
    color: aliceblue;
}

#Specyfikacja h1::after,#Specyfikacja_2 h1::after{
    content: ' ';
    display: block;
    height: 3px;
    background-color: var(--btns);
    width: 70%;
    margin: 1rem auto;
}

#Spec_fiter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}

#Spec_fiter div{
    padding: 2rem;
}


@media screen and (min-width: 980px) {
    #sidenav {
        width: 0 !important;
    }
}
@media screen and (max-width: 980px) {
    nav span #fit {
        display: none;
    }
    #toggler {
        display: block;
    }
}

@media screen and (max-width: 1080px) {
    #katalog .oferta img{
        width: 100%!important;
        height: 80%;
    }
}

@media screen and (max-width: 850px) {
    #filtry {
        display: none!important;
    }

    #zamkniecie{
        margin-left: 2rem;
    }
}

@media screen and (min-width: 900px) {
    #filtry {
        display: block!important;
    }
}